@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');

body{
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  background: rgb(253, 221, 0);
}

/*-----------styling banner--------------*/

.banner {
  background-image: url("/img/De-Lijn-bus.jpg");
  background-size: cover;
  background-position: center;
}

.logo {
  padding: 1.5%;
  margin-left: 1.5%;
}

/*--------------------------------------*/

h2{
  font-size: 1.2em;
  margin-top: 7%;
  margin-bottom: 5%;
  margin-left: 15%;
  text-transform: uppercase;
  font-weight: bold;
}

a{
  text-decoration: none;
  color: rgb(55, 61, 67);
}

a:visited{
  color: rgb(55, 61, 67);
}

p{
  padding: 2%;
  display: inline-block;
}

li{
  margin-top: 5%;
  width: 100%;
}

ul{
  background: white;
  padding: 5%;
  padding-top: 2%;
  border-radius: 20px;
  -webkit-box-shadow: 10px 11px 0px 0px rgba(163,140,28,0.75);
-moz-box-shadow: 10px 11px 0px 0px rgba(163,140,28,0.75);
box-shadow: 10px 11px 0px 0px rgba(163,140,28,0.75);
width: 70%;
margin: auto;
margin-bottom: 30px;
}


p.lijnNummer{
  border-radius: 5px;
}

#terugpijl {
  background-color: #373D42;
  display: block;
  margin: 0 auto;
  font-size: 3em;
  color: #fff;
  width: 10px;
  padding: 10px 20px;
  margin-top: 10px;
}

#haltes {
  margin-top: 5%;
}

/*-----------styling startscherm--------------*/
.zoek-kader {
background: white;
  padding: 5%;
  border-radius: 20px;
  -webkit-box-shadow: 10px 11px 0px 0px rgba(163,140,28,0.75);
-moz-box-shadow: 10px 11px 0px 0px rgba(163,140,28,0.75);
box-shadow: 10px 11px 0px 0px rgba(163,140,28,0.75);
width: 70%;
margin: 40px auto;
height: 65vh;

}

h1 {
  margin-top: 20px;
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  color: #373D42;
}

.icon {
  display: block;
  width: 90%;
  margin: 40px auto;
}

input#button {
 -webkit-appearance:none;
  background-color: #373D42;
  display: block;
  border:none;
  margin: 0 auto;
  font-size: 3em;
  color: #fff;
  width: 20px;
  font-weight: bold;
  padding: 10px 40px;
}
