body{
  font-family: helvetica;
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  background: rgb(253, 221, 0);
}

.banner {
  background-color: white;
  background-image: url("/img/De-Lijn-bus.jpg");
  background-size: cover;
}

h1{
  color: green;
}
h2{
  font-size: 1.5em;
  margin-top: 10%;
  margin-bottom: 5%;
  margin-left: 15%;
  text-transform: uppercase;
}
p{

}

a{
  text-decoration: none;
  color: rgb(55, 61, 67);
}

a:visited{
  color: rgb(55, 61, 67);
}

p{
  padding: 2%;
  display: inline-block;
}

li{
  margin-top: 5%;
  width: 100%;
}

ul{
  background: white;
  padding: 5%;
  border-radius: 20px;
  -webkit-box-shadow: 10px 11px 0px 0px rgba(163,140,28,0.75);
-moz-box-shadow: 10px 11px 0px 0px rgba(163,140,28,0.75);
box-shadow: 10px 11px 0px 0px rgba(163,140,28,0.75);
width: 70%;
margin: auto;
}


p.lijnNummer{
  border-radius: 5px;
}
