
  <div class="loca info">

    <form method="get" action="/indebuurt">
      <input id="lat" type="text" name="lat" style="display: none">
      <input id="long" type="text" name="long" style="display: none">
      <input id="button"type="submit" value="Zoek de haltes in de buurt" disabled>
    </form>
  </div>

  <script>
  // Locatie krijgen van gebruiker en ineens in form plaatsen
  var button = document.getElementById('button');
  console.log(button);
  button.onclick = function(){
       console.log("test");
 }


    window.onload = function() {
      var loaded = false;
      navigator.geolocation.getCurrentPosition(function(location) {
           var lat = location.coords.latitude;
           console.log(lat);
           document.getElementById('lat').value = lat;
           var long = location.coords.longitude;
           console.log(long);
           document.getElementById('long').value = long;
           document.getElementById('button').removeAttribute("disabled");


});
if(loaded === true){

}
};
  </script>
