<% include header %>
<div class="banner">
  <img src="/img/De_Lijn_svg.png" width="90px;">
</div>
	<a onclick="goBack()">Ga terug</a>
          <script>
                 var halte = <%- data %>;
                 for (var i = 0; i < halte.length; i++) {
                    if (halte[i].lijnen.length != 0) {
                         var div = document.createElement("DIV");
                         var h2 = document.createElement("H2");
                         var h2T = document.createTextNode(halte[i].omschrijvingLang);
                         var ul = document.createElement("UL");
                         var a = document.createElement("A");
                         for (var j = 0; j < halte[i].lijnen.length; j++) {
                              var li = document.createElement("LI");
                              var pLijnNr = document.createElement("P");
                              pLijnNr.setAttribute("class", "lijnNummer");
                              var pLijnBestem = document.createElement("P");
                              var pLijnNrT = document.createTextNode(halte[i].lijnen[j].lijnNummer);
                              var pLijnBestemT = document.createTextNode(halte[i].lijnen[j].bestemming);

                              var backgroundColor = halte[i].lijnen[j].kleurAchterGrond;
                              var backgroundColorBorder = halte[i].lijnen[j].kleurAchterGrondRand;
                              var color = halte[i].lijnen[j].kleurVoorGrond;

                              var halteNr = halte[i].halteNummer;
                              pLijnNr.appendChild(pLijnNrT);
                              pLijnBestem.appendChild(pLijnBestemT);
                              li.appendChild(pLijnNr);
                              li.appendChild(pLijnBestem);
                              ul.appendChild(li);

                              pLijnNr.style.background = backgroundColor;
                              pLijnNr.style.border = "solid 1px" + backgroundColorBorder;
                              pLijnNr.style.color = color;
                         }
                         h2.appendChild(h2T);
                         a.appendChild(h2);
                         a.appendChild(ul);
                         document.body.appendChild(a);
                         a.setAttribute("href", "/halte/" + halteNr);
                    }
                 }
          </script>
     </body>
</html>
